.dialog {
  display: flex;
  flex-direction: column;
  max-height: 40em;
}

.dialog-header{
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dialog-body {
  display: flex;
  overflow-y: auto;
}

.full-dialog-width {
  width: 100%;
}
